/* :root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 10px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 */

.spectral {
  font-family: var(--font-spectral);
}

.yellowTail {
  font-family: var(--font-yellowTail);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bricolage Grotesque", sans-serif;
}

body,
html {
  height: 100dvh;
  width: 100dvw;
  background: #F5D9D5;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-logo {
  width: 100%;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

.page {
  background: linear-gradient(145deg, #ffffff 0%, #f5f5f5 100%);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  text-align: center;
}

.page-content--last {

  justify-content: unset;
  background-image: url("../Utilities//Images/background.jpg");
  background-size: 100%;
}

.rsvpLink {
  width: 100%;
  height: 110px;
  display: block;
  color: black;
  text-decoration: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  background: white;
  /* font-weight: 700; */
  border-radius: 18px;
  border: 1px solid #F5D9D5;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, 0.5);

  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));

}

.rsvpPage {
  width: 100%;
  padding: 20px 20px 50px 20px;
}

.rsvpWrap {
  width: 100%;
  height: 110px;
  position: relative;

}

.rsvpTxt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapTitle {
  font-size: 14px;
  height: 60px;
  margin: 0 0 10px 0;
}

.mapsLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 0 20px;
}

.mapLinkWrap {

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));

}

.mapBtn {
  width: 100%;
  padding: 12px;
  cursor: pointer;
  background-color: #FEF3C4;
  border: unset;
  border-radius: 8px;
  box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, 0.5);
  position: relative;
}

.mapBtnLink {
  cursor: pointer;
  margin: 20px 0 0 0;
}

.mapLinkImg {
  margin: 0 0 20px 0;

}

.mapImg {

  border: 8px solid white;
  border-radius: 8px;
}

.cover {
  /* background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%); */
  color: white;
  font-weight: bold;
  background: white;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0 5px;
}

.pokemon-container img {
  width: 70%;
  max-height: 200px;
  object-fit: contain;
  transition: transform 0.3s ease;
}


.pokemon-container img:hover {
  transform: scale(1.05);
}

.pokemon-info {
  width: 100%;
}

.pokemon-name {
  font-size: clamp(1rem, 3vw, 1.8rem);
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 5px;
}

.pokemon-number {
  font-size: clamp(0.7rem, 2vw, 1rem);
  color: #7f8c8d;
  margin-bottom: 10px;
}

.pokemon-type {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 20px;
  font-size: clamp(0.6rem, 1.5vw, 0.9rem);
  font-weight: 500;
  color: white;
  margin: 0 3px 5px 3px;
}

.pokemon-description {
  font-size: 14px;
  color: #34495e;
  margin-top: 8px;
  line-height: 1.4;
}

.promptBox {
  height: 100px;
  width: 100px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 60%;
  left: 86%;
  opacity: .5;
  transition: 300ms;
  pointer-events: none;
  z-index: 1000;
}

.tapperoo {
  height: 48px;
  width: 100px;
  position: absolute;
  top: -5px;
  left: 50px;
  border-radius: 100px;
  background-color: #fff;
  z-index: -1;
  animation: tapperoo 3s infinite;
}

@keyframes tapperoo {
  0% {
    height: 25%;
    width: 25%;
  }

  50% {
    height: 5%;
    width: 35%;
    opacity: 0;
    transform: translate(-250%);
  }

  100% {
    opacity: 0;
  }
}

#tap-gesture {
  position: absolute;
  transform: rotate(30deg);
  animation: handMove 3s infinite;
}

@keyframes handMove {
  0% {
    transform: rotate(30deg);
  }

  50% {
    transform: translate(-60%, -10%) rotate(-30deg) scale(0.9);
  }

  100% {
    transform: rotate(30deg);
  }
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: #F5D9D5;
  opacity: 0.2;
  color: white;
  text-align: center;
  line-height: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 50%;
  font-size: 1.3rem;

  &:hover {
    cursor: pointer;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: rgba(255, 95, 122, 1);
    border-radius: 50%;
    z-index: -1;
    animation: grow 1s ease-in-out infinite;
  }

  &::after {
    background: rgba(255, 95, 122, 0.4);

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
      background: rgb(95, 132, 255);
      border-radius: 50%;
      z-index: -1;
      animation: grow 1s ease-in-out infinite;
    }
  }

  &::before {
    background: rgba(255, 95, 122, .6);
    animation-delay: -0.5s;
  }
}

.circle-small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: #F5D9D5;
  opacity: 0.2;
  color: white;
  text-align: center;
  line-height: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 50%;
  font-size: 1.3rem;

  &:hover {
    cursor: pointer;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: rgba(255, 95, 122, 1);
    border-radius: 50%;
    z-index: -1;
    animation: grow 1s ease-in-out infinite;
  }

  &::after {
    background: rgba(255, 95, 122, 0.4);

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background: rgb(95, 132, 255);
      border-radius: 50%;
      z-index: -1;
      animation: grow 1s ease-in-out infinite;
    }
  }

  &::before {
    background: rgba(255, 95, 122, .6);
    animation-delay: -0.5s;
  }
}

@keyframes grow {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }

  100% {
    transform: scale(1.8, 1.8);
    opacity: 0;
  }
}
